doctype html
html
  head
    title Angular Example
    link(rel='stylesheet' href='/stylesheets/style.css')
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(href='/bootstrap/bootstrap.css' rel='stylesheet')
    link(href='/bootstrap/bootstrap-spacelab.css' rel='stylesheet')
    link(href='/ui-lightness/jquery-ui-1.10.4.css' rel='stylesheet')
    link(href='/Site.css' rel='stylesheet')
    link(href='ng-grid.css' rel='stylesheet')
    body(ng-app='app')

    block content

    script(src='/javascripts/underscore.js')
    script(src='/javascripts/modernizr-2.6.2.js')
    script(src='/javascripts/jquery-1.10.2.js')
    script(src='/javascripts/jquery-ui-1.10.4.js')
    script(src='/javascripts/bootstrap.js')
    script(src='/javascripts/angular-1.2.16/angular.js')
    script(src='/javascripts/angularui-date/date.js')
    script(src='/javascripts/ui-bootstrap-tpls-0.11.0.js')
    script(src='/javascripts/restangular.js')
    script(src='/javascripts/app/app.js')
    script(src='/javascripts/app/accountController.js')
    script(src='/javascripts/ng-grid-2.0.11.debug.js')
    script(src='/socket.io/socket.io.js')
    script var socket = io();

